spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none

  sql:
    init:
      mode: always              # Run schema.sql + data.sql at startup

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080